@model prjWebsiteB.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Edit";
}
@section Styles
{
    <link href="~/css/productstylesheet.css" rel="stylesheet" />
    <style>
        .row {
            max-width: 100%;
        }

        .content {
            margin: 0 auto;
            align-items: center;
            width: 50%;
        }
    </style>
}
<div class="topic">
    <h1 class="text-orange">修改商品</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4 content">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FProductId" />
            <div class="form-group">
                <label asp-for="FUserId" class="control-label"></label>
                <select asp-for="FUserId" class="form-control" asp-items="ViewBag.FUserId" disabled="disabled"></select>
                <span asp-validation-for="FUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FProductCategoryId" class="control-label"></label>
                <select asp-for="FProductCategoryId" class="form-control" asp-items="ViewBag.FProductCategoryId"></select>
                <span asp-validation-for="FProductCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FProductName" class="control-label"></label>
                <input asp-for="FProductName" class="form-control" />
                <span asp-validation-for="FProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FProductDescription" class="control-label"></label>
                <textarea asp-for="FProductDescription" class="form-control"></textarea>
                <span asp-validation-for="FProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FProductPrice" class="control-label"></label>
                <input asp-for="FProductPrice" class="form-control" type="number" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                <span asp-validation-for="FProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIsOnSale" class="control-label"></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="FIsOnSale" value="true" id="isOnSale1" />
                    <label class="form-check-label" for="isOnSale1">上架</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="FIsOnSale" value="false" id="isOnSale0" />
                    <label class="form-check-label" for="isOnSale0">下架</label>
                </div>
                <span asp-validation-for="FIsOnSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FStock" class="control-label"></label>
                <input asp-for="FStock" class="form-control" />
                <span asp-validation-for="FStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FImage" class="control-label">商品照片</label>
                <div class="fileSelectorContainer">
                    <div id="div1" class="fileSelectorDiv">點兩下上傳圖片</div>
                    <div id="div2" class="fileSelectorDiv hidden">點兩下上傳圖片</div>
                    <div id="div3" class="fileSelectorDiv hidden">點兩下上傳圖片</div>
                </div>
                <span asp-validation-for="FImage" class="text-danger"></span>
                <input type="file" id="imageUpload1" class="fileSelector" name="imageUpload1" accept="image/*" />
                <input type="file" id="imageUpload2" class="fileSelector" name="imageUpload2" accept="image/*" />
                <input type="file" id="imageUpload3" class="fileSelector" name="imageUpload3" accept="image/*" />
            </div>
            <hr />
             <div class="form-group">
                <a class="btn btn-orange" asp-action="Index"><i class="fa-solid fa-left-long"></i></a>
                <input type="submit" value="更新商品" class="btn btn-orange" />
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script>
        var baseAddress = window.location.origin;
        var updatedImages = {}; // 定義更新圖片對象

        $(document).ready(function() {
            var p = encodeURI('@Model.FProductId');
            $.ajax({
                url: `${baseAddress}/TProducts/GetPictures/${p}`,
                type: 'GET',
                dataType: 'json'
            })
            .done(data => {
                var containers = ['#div1', '#div2', '#div3'];

                for (var i = 0; i < containers.length; i++) {
                    if (data && data.length > i) {
                        // 創建 img 元素並設置 src 屬性
                        var img = $('<img />', {
                            src: 'data:image/jpeg;base64,' + data[i],
                            class: 'img-thumbnail',
                            alt: 'Product Image',
                            width: '150px' // 設置圖片寬度
                        });

                        // 移除原本的文字
                        $(containers[i]).empty();
                        // 將 img 元素添加到 div 中
                        $(containers[i]).append(img);
                        // 動態顯示下一個文件選擇器
                        if (i < containers.length - 1) {
                            $(containers[i + 1]).removeClass("hidden");
                        }
                    }
                }
            })
            .fail(err => {
                alert('Failed to load images');
            });

            // 當雙擊 div 時觸發對應的文件選擇器
            $("#div1").dblclick(function() {
                $("#imageUpload1").click();
            });
            $("#div2").dblclick(function() {
                $("#imageUpload2").click();
            });
            $("#div3").dblclick(function() {
                $("#imageUpload3").click();
            });

            // 在選擇文件後顯示圖片並進行驗證
            $("#imageUpload1").change(function() {
                validateImage(this, $("#div1")[0]);
            });
            $("#imageUpload2").change(function() {
                validateImage(this, $("#div2")[0]);
            });
            $("#imageUpload3").change(function() {
                validateImage(this, $("#div3")[0]);
            });
        });

        function validateImage(input, div) {
            if (input.files && input.files[0]) {
                var file = input.files[0];
                var fileType = file.type;

                // 只允許圖片類型
                if (!fileType.startsWith('image/')) {
                    alert("請選擇圖片文件");
                    input.value = ""; // 清空文件選擇
                    div.style.backgroundImage = "";
                    div.textContent = "點兩下上傳圖片";
                    return;
                }

                var reader = new FileReader();
                reader.onload = function(e) {
                    div.style.backgroundImage = `url(${e.target.result})`;
                    div.style.backgroundSize = "cover";
                    div.style.backgroundPosition = "center";
                    div.textContent = ""; // 移除提示文字
                
                    // 動態顯示下一個文件選擇器
                    if (div.id === "div1") {
                        $("#div2").removeClass("hidden");
                    }
                    if (div.id === "div2") {
                        $("#div3").removeClass("hidden");
                    }
                }
                reader.readAsDataURL(file);
            }
        }
    </script>
}