@model IEnumerable<prjWebsiteB.Models.TPost>

<h1>文章管理</h1>
    <form class="form-inline">
    <label for="searchString" class="form-label mr-2">關鍵字搜尋:</label>
    <input id="searchString" name="searchString" class="form-control" />
    </form>
<div id="searchResults">
    <partial name="_PostListPartial" />
</div>
@section Scripts
{
    <script>
        $("#searchString").on("keyup",function(){
            const searchString  = $(this).val();
            $.ajax({
                type:"GET",
                url:`TPosts/Search/${searchString}`
            }).done(data=>{
                $("#searchResults").html(data);
            }).fail(err=>{
                alert(err.statusText);
            })
        });

        $("tbody button").on("click",function(){
            var FPostId = $(this).data("fpostid");
            var FUserId = $(this).data("fuserid");
            var FTitle = $(this).data("ftitle");
            var FContent = $(this).data("fcontent");
            var FCreatedAt = $(this).data("fcreatedat");
            var FUpdatedAt = $(this).data("fupdatedat");
            var FIsPublic = $(this).data("fispublic");
            console.log(FIsPublic);
            $("#editFPostId").text(FPostId);
            $("#editFUserId").text(FUserId);
            $("#editFTitle").text(FTitle);
            $("#editFContent").text(FContent);
            $("#editFCreatedAt").text(FCreatedAt);
            $("#editFUpdatedAt").text(FUpdatedAt);
            if(FIsPublic=="True"){
                $('#FIsPublicSelect').val('true');
            }else{
                $('#FIsPublicSelect').val('false');
            }
        })
    </script>
}