@model IEnumerable<prjWebsiteB.Models.TPost>

<h1>文章管理</h1>
    <div class="form-inline">
    <label for="searchString" class="form-label mr-2">關鍵字搜尋:</label>
    <input id="searchString" name="searchString" class="form-control" />
    </div>
<div id="searchResults">
    <partial name="_PostListPartial" />
</div>
@section Scripts
{
    <script>
        $("#searchString").on("keyup",function(){
            const searchString  = $(this).val();
            $.ajax({
                type:"GET",
                url:`TPosts/Search/${searchString}`
            }).done(data=>{
                $("#searchResults").html(data);
            }).fail(err=>{
                alert(err.statusText);
            })
        });

        function Update(){
            $.ajax({
                type:"POST",
                url:"/TPosts/Update",
                data:{id:$("#editFPostId").text(),isPublic:$('#FIsPublicSelect').val()}
            }).done(data=>{
                $("#searchResults").html(data);
            }).fail(err=>{
                alert(err.statusText);
            })
        }

        function btnData(){
            var button = $(event.target);
            var FPostId = button.data("fpostid");
            var FUserId = button.data("fuserid");
            var FTitle = button.data("ftitle");
            var FContent = button.data("fcontent");
            var FCreatedAt = button.data("fcreatedat");
            var FUpdatedAt = button.data("fupdatedat");
            var FIsPublic = button.data("fispublic");
            $("#editFPostId").text(FPostId);
            $("#editFUserId").text(FUserId);
            $("#editFTitle").text(FTitle);
            $("#editFContent").text(FContent);
            $("#editFCreatedAt").text(FCreatedAt);
            $("#editFUpdatedAt").text(FUpdatedAt);
            if(FIsPublic=="True"){
                $('#FIsPublicSelect').val('true');
            }else{
                $('#FIsPublicSelect').val('false');
            }
        }
    </script>
}