@model IEnumerable<prjWebsiteB.Models.TPost>

<h1>文章管理</h1>
    <div class="form-inline">
    <label for="searchString" class="form-label mr-2">關鍵字搜尋:</label>
    <input id="searchString" name="searchString" class="form-control" />
    </div>
<div id="searchResults">
    <partial name="_PostListPartial" />
</div>
<!-- Bootstrap Modal -->
<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPostModalLabel">修改</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detailResult">
                </div>
                <button id="submitBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">送出</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $("#searchString").on("keyup",function(){
            const searchString  = $(this).val();
            $.ajax({
                type:"GET",
                url:`TPosts/Search/${searchString}`
            }).done(data=>{
                $("#searchResults").html(data);
            }).fail(err=>{
                alert(err.statusText);
            })
        });

        // $("#submitBtn").on("click",function(){
        //     $.ajax({
        //         type:"POST",
        //         url:"/TPosts/Update",
        //         data:{id:$("#editFPostId").text(),isPublic:$('#FIsPublicSelect').val(),searchString:$("#searchString").val()}
        //     }).done(data=>{
        //         $("#searchResults").html(data);
        //     }).fail(err=>{
        //         alert(err.statusText);
        //     })
        // })

        function btnData() {
            var target = $(event.target);
            var id = target.data("id");
            $.ajax({
                type:"GET",
                url:`/TPosts/Details/${id}`
            }).done(data=>{
                $("#detailResult").html(data);
            }).fail(err=>{
                alert(err.statusText);
            })
        }
    </script>
}