@section Styles {
    <link href="~/css/styleposts.css" rel="stylesheet" />
}
<button class="btn btn-success" onclick="btnCreate()">新增文章</button>
<!-- Bootstrap Modal -->
<div class="modal fade" id="editPostModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPostModalLabel">修改</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="detailResult">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    function btnEdit(id) {
            $.ajax({
                type:"GET",
                url:`/TPosts/Details/${id}`
            }).done(data=>{
                $("#detailResult").html(data);
            }).fail(err=>{
                alert(err.statusText);
            })
        }
}