@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: "Yuji Boku", serif;
            font-weight: 400;
            font-style: normal;
            padding-top: 50px;
            color: orangered;
            text-shadow: 0 0 5px #fff, /* 白色陰影 */
            0 0 10px #fff, /* 白色陰影 */
            0 0 15px #ffe4c2, 0 0 20px #ffe4c2, 0 0 25px #ffe4c2, 0 0 30px #ffe4c2, 0 0 35px #ffe4c2;
        }

        .backgroundPic {
            background-image: url('@Url.Content("~/img/sunset.jpg")'); /* 替換為你的圖片路徑 */
            background-size: cover; /* 確保圖片覆蓋整個背景 */
            background-position: center; /* 圖片居中 */
            background-repeat: no-repeat; /* 防止圖片重複 */
            height: 100vh;
            margin: 0;
            opacity: 0.8;
        }

        h4 {
            color: white;
            font-weight: 600;
        }
    </style>
}

<div class="backgroundPic">
    <div class="text-center">
        <h1 class="display-4">旅勸步町</h1>
        <h4>後台管理中心</h4>
    </div>
</div>
