@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap" rel="stylesheet">
    <style>
        h1{
            font-family: "Yuji Boku", serif;
            font-weight: 400;
            font-style: normal;
            padding-top: 50px;
            color: orangered;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4">旅勸步町</h1>
    <h4>後台管理中心</h4>
</div>
